<style>
    .message-content {
        font-family: Arial, Helvetica, sans-serif;
        max-width: 600px;
        font-size: 18px;
        line-height: 21px;
    }
</style>

<div class="message-content">
    <p>Olá, {{name}}</p>
    <p>Um agendamento foi feito para a data {{date}}.</p>
    <p>Acesse a plataforma para verificar:</p>
    <p>
        <a href={{link}}>Acesse aqui</a>
    </p>
    <p>
        Obrigado! <br />
        <strong>Equipe Alquimia do Coração</strong>
    </p>
</div>